.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    color: #000;

    a {
        color: #d20000;
        cursor: pointer;
    }
}